#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.firstOption {
  background-color: violet;
  border: solid 5px black;
  border-radius: 20px;
  color: white;
  height: auto;
  margin-right: 20px;
  max-width: 500px;
  position: relative;
  overflow-wrap: break-word;
}

.secondOption {
  background-color: orange;
  border-radius: 20px;
  border: solid 5px white;
  color: black;
  height: auto;
  margin-left: 20px;
  max-width: 500px;
  overflow-wrap: break-word;
}

.nextButton {
  background-color: rgb(100, 218, 77);
  border-radius: 50px;
  color: white;
  margin-top: 20px;
}